<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Burnbook</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
      <h1><a href="/burnbook">The WDI-11 Burnbook</a></h1>
      {{{body}}}
  </body>
</html>
