<h2>New Burn</h2>
<form action="/burnbook" method="post">
  <label>The person: </label>
  <input type="text" name="name">
  <label>The offense: </label>
  <input type="text" name="offense">
  <label>Image: </label>
  <input type="text" name="image">
  <input type="submit">
</form>
