<h2>{{girl.name}}'s Burn Page</h2>
<img class="largepic" src="{{girl.image}}"/>
<h3>{{girl.offense}}</h3>

<div class="editlinks">
  <a href="/girls/{{girl._id}}/edit">Edit This Burn Page</a>
  <a href="/burnbook">Back to the Book</a>
</div>
