<h2>{{GirlShowControllerVM.girl.name}}'s Burn Page</h2>
<img class="largepic" ng-src="{{GirlShowControllerVM.girl.image}}" alt="{{GirlShowControllerVM.girl.name}}">
<h2>{{GirlShowControllerVM.girl.offense}}</h2>

<button data-ng-hide="editGirl" data-ng-click="editGirl = !editGirl">Edit the Burn</button>
<form data-ng-show="editGirl">
  <input value="GirlShowControllerVM.girl.name" data-ng-model="GirlShowControllerVM.girl.name" />
  <input value="GirlShowControllerVM.girl.offense" data-ng-model="GirlShowControllerVM.girl.offense" />
  <input value="GirlShowControllerVM.girl.image" data-ng-model="GirlShowControllerVM.girl.image" />
  <button class="update" data-ng-click="GirlShowControllerVM.update(); editGirl = !editGirl">Save</button>
  <button data-ng-click='editGirl = !editGirl' class='cancel'>Cancel</button>
  <button class="delete" data-ui-sref="index" data-ng-click="GirlShowControllerVM.delete()">RIP OUT THE PAGE BEFORE THE PRINCIPAL SEES!!</button>
</form>
